html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.hero-section {
    background-image: linear-gradient(45deg,
            hsl(331deg 96% 60%) 0%,
            hsl(327deg 92% 59%) 8%,
            hsl(324deg 88% 57%) 15%,
            hsl(320deg 83% 56%) 23%,
            hsl(315deg 77% 55%) 31%,
            hsl(310deg 71% 54%) 38%,
            hsl(304deg 64% 53%) 46%,
            hsl(297deg 62% 53%) 54%,
            hsl(288deg 67% 56%) 62%,
            hsl(280deg 73% 59%) 69%,
            hsl(271deg 79% 61%) 77%,
            hsl(262deg 85% 64%) 85%,
            hsl(251deg 92% 66%) 92%,
            hsl(238deg 99% 67%) 100%);
    height: 360px;
    margin-top: 0;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}

#subtext {
    color: #fff;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
}

#mainmetric {
    color: #fff;
    font-weight: 800;
    font-size: 158px;
    text-align: center;
    margin: 0;
}


.content-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #FBF7EE;
    height: 100vh;
}

.label {
    font-weight: 600;
    margin-bottom: 0;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}